*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: minmax(min-content, max-content) minmax(min-content,max-content) minmax(min-content, max-content); */
    grid-template-rows: 150px 150px 150px;
    /* column-gap: 5px;
    row-gap: 5px; */
    gap:5px;
  }
  
  .box{
      background-color: blueviolet;
      border: 1px solid #ff0000;
      text-align: center;
  }
  box-5{
    background-color: #ff0000;
    /* transition: all .4s ease; */
}

.box-5:hover {
    background-color: #0b0606;
    color: #ff0000;
}
.container:nth-child(n+5){
    background-color: #ff0000;
}
.container :nth-child(n + 5 ):hover{
    background-color: #ff0000;
    color: #0b0606;
}